
.modalWraper{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000096;
    backdrop-filter: blur(1px);
    .headerPopAp{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: rgba(255, 255, 255, 1);
        width: 560px;
        height: auto;
        border-radius: 16px;
        @media (max-width: 1024px){
            width: -webkit-fill-available;
            height: auto;
        }
        .headerPopAp_header{
            height: 69px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid rgba(63, 137, 240, 0.20);
            @media (max-width: 425px){
                height: 49px;
            }
            p{
                color: var(--color-blue, #60BFE1);
                font-family: InterSemBold;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                letter-spacing: -1.68px;
                text-transform: uppercase;
                margin: 0;
                padding: 0 20px;
                @media (max-width: 1024px){
                    font-size: 18px;
                    letter-spacing: -1.3px
                }
                @media (max-width: 425px){
                    font-size: 16px;
                    padding: 0 10px;
                }
            }
            img{
                display: flex;
                height: 16px;
                width: 16px;
                padding: 16px 16px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                border-radius: 16px;
                margin: 0 20px;
                background: var(--color-blue, #60BFE1);
                cursor: pointer;
                @media (max-width: 425px){
                    padding: 10px;
                }
            }
        }
        .choose{
            display: flex;
            flex-direction: column;
            padding: 0 20px;
            @media (max-width: 425px){
                padding: 0 10px;

            }
            .dropdown {
                position: relative;
                
              }
            .dropdown-content_one {
                display: none;
                position: relative;
                background-color: #FFF;
                width: -webkit-fill-available;
                z-index: 1;
                border-radius: 16px;
                    a {
                        color: var(--color-light-blue-main, #60BFE1);;
                        padding: 12px 20px;
                        text-decoration: none;
                        display: block;
                        font-family: InterReg;
                        font-size: 18px;
                        font-weight: 400;
                        background-color: #FFF;
                        border-bottom: 1px solid rgba(63, 137, 240, 0.20);
                        border-left: 1px solid rgba(63, 137, 240, 0.20);
                        border-right: 1px solid rgba(63, 137, 240, 0.20);
                        border-radius: 0;
                        cursor: pointer;
                        @media (max-width: 425px){
                            padding: 10px ;
                            font-size: 14px;
                        }
                        img{
                            filter: none;
                            transform: rotateX(180deg);
                            position: relative;
                            z-index: 10;
                        }
                        &:nth-child(1){
                            border-left: 1px solid rgba(63, 137, 240, 0.20);
                            border-right: 1px solid rgba(63, 137, 240, 0.20);
                            border-radius: 0;
                            display: flex;
                            justify-content: space-between;

                        }
                        &:nth-last-child(1){
                            border-radius: 0 0 16px 16px;
                        }
                    }
                &.active{
                    display: flex;
                    flex-direction: column;
                }
              }
              .dropdown-content_two {
                display: none;
                position: relative;
                background-color: #FFF;
                width: -webkit-fill-available;
                z-index: 1;
                border-radius: 16px;
                    a {
                        color: var(--color-light-blue-main, #60BFE1);;
                        padding: 12px 20px;
                        text-decoration: none;
                        display: block;
                        font-family: InterReg;
                        font-size: 18px;
                        font-weight: 400;
                        background-color: #FFF;
                        border-bottom: 1px solid rgba(63, 137, 240, 0.20);
                        border-left: 1px solid rgba(63, 137, 240, 0.20);
                        border-right: 1px solid rgba(63, 137, 240, 0.20);
                        border-radius: 0;
                        cursor: pointer;
                        @media (max-width: 425px){
                            padding: 10px ;
                            font-size: 14px;
                        }
                        img{
                            filter: none;
                            transform: rotateX(180deg);
                        }
                        &:nth-child(1){
                            border-left: 1px solid rgba(63, 137, 240, 0.20);
                            border-right: 1px solid rgba(63, 137, 240, 0.20);
                            border-radius: 0;
                            display: flex;
                            justify-content: space-between;

                        }
                        &:nth-last-child(1){
                            border-radius: 0 0 16px 16px;
                        }
                    }
                &.active{
                    display: flex;
                    flex-direction: column;
                }
              }
              .dropdown-content_three {
                display: none;
                position: relative;
                background-color: #FFF;
                width: -webkit-fill-available;
                z-index: 1;
                border-radius: 16px;
                    a {
                        color: var(--color-light-blue-main, #60BFE1);;
                        padding: 12px 20px;
                        text-decoration: none;
                        display: block;
                        font-family: InterReg;
                        font-size: 18px;
                        font-weight: 400;
                        background-color: #FFF;
                        border-bottom: 1px solid rgba(63, 137, 240, 0.20);
                        border-left: 1px solid rgba(63, 137, 240, 0.20);
                        border-right: 1px solid rgba(63, 137, 240, 0.20);
                        border-radius: 0;
                        cursor: pointer;
                        @media (max-width: 425px){
                            padding: 10px ;
                            font-size: 14px;
                        }
                        img{
                            filter: none;
                            transform: rotateX(180deg);
                        }
                        &:nth-child(1){
                            border-left: 1px solid rgba(63, 137, 240, 0.20);
                            border-right: 1px solid rgba(63, 137, 240, 0.20);
                            border-radius: 0;
                            display: flex;
                            justify-content: space-between;

                        }
                        &:nth-last-child(1){
                            border-radius: 0 0 16px 16px;
                        }
                    }
                &.active{
                    display: flex;
                    flex-direction: column;
                }
              }
              
              /* Links inside the dropdown */
            .button{
                    display: flex;
                   
                    justify-content: space-between;
                    align-items: center;
                    align-self: stretch;
                    border-radius: 16px;
                    border: 1px solid var(--color-blue, #60BFE1);
                    margin: 12px 0;
                    background-color: #ffffff00;
                    width: -webkit-fill-available;
                    cursor: pointer;
                    img{
                        padding: 0 20px;
                    }
                    &.focus_one{
                        margin: 12px 0 0;
                        border: 1px solid rgba(63, 137, 240, 0.20);
                        border-radius: 16px 16px 0 0;
                        img{
                            transform: rotateX(180deg);
                            padding: 0 20px;
                        }
                    }
                    &.focus_two{
                        margin: 12px 0 0;
                        border: 1px solid rgba(63, 137, 240, 0.20);
                        border-radius: 16px 16px 0 0;
                        img{
                            transform: rotateX(180deg);
                            padding: 0 20px;
                        }
                    }
                    &.focus_three{
                        margin: 12px 0 0;
                        border: 1px solid rgba(63, 137, 240, 0.20);
                        border-radius: 16px 16px 0 0;
                        img{
                            transform: rotateX(180deg);
                            padding: 0 20px;
                        }
                    }
                    &.active{
                        background-color: #60BFE1;
                        a{
                            color: #FFF;
                        }
                        
                        &.focus_one{
                            margin: 12px 0 0;
                            border: 1px solid rgba(63, 137, 240, 0.20);
                            border-radius: 16px 16px 0 0;
                            img{
                                transform: rotateX(180deg);
                                padding: 0 20px;
                            }
                        }
                        &.focus_two{
                            margin: 12px 0 0;
                            border: 1px solid rgba(63, 137, 240, 0.20);
                            border-radius: 16px 16px 0 0;
                            img{
                                transform: rotateX(180deg);
                                padding: 0 20px;
                            }
                        }
                        &.focus_three{
                            margin: 12px 0 0;
                            border: 1px solid rgba(63, 137, 240, 0.20);
                            border-radius: 16px 16px 0 0;
                            img{
                                transform: rotateX(180deg);
                                padding: 0 20px;
                            }
                        }
                    }
                a{
                    color: var(--color-blue, #60BFE1);
                    font-family: InterReg;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    flex-grow: 1;
                    padding: 13px 20px;
                    @media (max-width: 425px){
                        font-size: 14px;
                        padding: 10px;
                    }
                    
                }
            }   
            
            input{
                display: flex;
                padding: 14px 20px;
                align-items: center;
                gap: 10px;
                align-self: stretch;
                border-radius: 16px;
                border: 1px solid var(--color-blue, #60BFE1);
                margin: 12px 0;
                font-family: InterReg;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                &::placeholder { color: var(--color-blue, #60BFE1);}
                @media (max-width: 425px){
                    font-size: 14px;;
                }
            }
        }
        .but{
            display: flex;
            padding: 15px 30px;
            justify-content: center;
            align-items: baseline;
            gap: 13px;
            border-radius: 1000px;
            background: var(--color-blue, #60BFE1);
            color: var(--color-white, #FFF);
            font-family: InterSemBold;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin: 0;
            text-decoration: none;
            cursor: pointer;
            transition: 0.3s;
            margin: 0 20px 20px;
            @media (max-width: 425px){
                font-size: 14px;
                margin: 0 10px 10px;
            }
            &:hover{
                border: 1px solid var(--color-light-blue-main, #60BFE1);
                background: #00000000;
                color: #60BFE1;
                padding: 14px 30px;
                
                img{
                    filter: none;
                }
            }
            img{
                filter:grayscale(100) contrast(100);
            }
        }
    }
}