.reviews{
    display: flex;
    flex-direction: column;
    margin: 100px 0px;
    padding: 0 20px;
    overflow: hidden;
    @media (max-width: 768px){
        margin: 80px 0 60px;
        padding: 0 20px;
     }
    //  @media (max-width: 450px){
    //     overflow: visible;
    //  }
    a{
        display: flex;
        margin-top: 20px;
        padding: 16px 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 123px;
        border: 1px solid var(--color-light-blue-main, #60BFE1);
        color: var(--color-light-blue-main, #60BFE1);
        font-family: InterSemBold;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        cursor:pointer;
        transition: .3s;
            &:hover{
                background: #60BFE1;
                color: #FFF;
                img{
                    transform: translateX(8px);
                }
            }
    }
    .reviews_header{
        display: flex;
        justify-content: space-between;
        h2{
            color: #424344;
            font-family: InterMed;
            font-size: 54px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%; /* 54px */
            letter-spacing: -3.78px;
            margin: 0 0 30px;
            @media (max-width: 768px){
                font-size: 24px;
                letter-spacing: -1.6px;
            }
        }
        .reviews_navigate{
                display: flex;
                div{    
                    margin: 0 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50px;
                    height: 50px;
                    border: #60BFE1 solid 1px;
                    border-radius: 100%;
                    cursor: pointer;
                    @media (max-width: 768px){
                        width: 32px;
                        height: 32px;
                    }
                    &:nth-child(1){
                            transform: rotateY(180deg);
                        }
                    &:hover{
                        background-color: #60BFE1;
                        img{
                            filter: brightness(0) saturate(100%) invert(100%) sepia(4%) saturate(0%) hue-rotate(289deg) brightness(103%) contrast(102%);
                        }
                    }
                    img{
                        cursor: pointer;
                        @media (max-width: 768px){
                            width: 10px;
                            height: 10px;
                        }
                        
                    }
                }
            
        }
    }
    .reviews_content{
        .swiper-container{
            .swiper-wrapper{
                // @media (max-width:840px){
                //     max-width: 280px;
                // }
                .swiper-slide{
                    width: max-content;
                }
            }
        }
        .reviews_reviewBlock{
            min-width: -webkit-fill-available;
            border-radius: 16px;
            background: #FFF;
            padding: 30px;
            
            .reviewBlock_info{
                display: flex;
                align-items: center;
                img{
                    width: 71px;
                    height:71px;
                    @media (max-width: 768px){
                        width: 57px;
                        height: 57px;
                     }
                }
                .info_name{
                    p{
                        margin: 0 0 5px 20px;
                        color: #303030;
                        font-family: InterMed;
                        font-size: 25px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 110%; /* 27.5px */
                        letter-spacing: -1.25px;
                        @media (max-width: 768px){
                            font-size: 18px;
                         }
                        &:nth-child(2){
                            font-family: InterReg;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            letter-spacing: -0.9px;
                            opacity: 0.5;
                            @media (max-width: 768px){
                                font-size: 14px;
                             }
                        }
                    }
                }
            }
            .reviewBlock_description{
                h5{
                    color: #303030;
                    font-family: InterSemBold;
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    letter-spacing: -1.4px;
                    margin: 30px 0 20px;
                    @media (max-width: 768px){
                        font-size: 18px;
                     }
                }
                p{
                    color: #303030;
                    font-family: InterReg;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: -0.8px;
                    margin: 0;
                    @media (max-width: 768px){
                        font-size: 14px;
                     }
                }
            }
        }
    }
}