.reviews{
    display: flex;
    flex-direction: column;
    margin: 100px 20px;
    overflow: hidden;
    @media (max-width: 768px){
        margin: 80px 10px;
     }
    .reviews_header{
        display: flex;
        justify-content: space-between;
        h2{
            color: #424344;
            font-family: InterMed;
            font-size: 54px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%; /* 54px */
            letter-spacing: -3.78px;
            margin: 0 0 30px;
            @media (max-width: 768px){
                font-size: 24px;
                letter-spacing: -1.6px;
            }
        }
        .reviews_navigate{

            img{
                margin: 0 10px;
                cursor: pointer;
                @media (max-width: 768px){
                    width: 32px;
                 }
            }
        }
    }
    .reviews_content{
        display: flex;
        justify-content: space-between;
        transition: 0.5s;
        .reviews_reviewBlock{
            min-width: 710px;
            border-radius: 16px;
            background: #FFF;
            padding: 30px;
            margin-right: 20px;
            
            .reviewBlock_info{
                display: flex;
                align-items: center;
                img{
                    width: 71px;
                    height:71px;
                    @media (max-width: 768px){
                        width: 57px;
                        height: 57px;
                     }
                }
                .info_name{
                    p{
                        margin: 0 0 5px 20px;
                        color: #303030;
                        font-family: InterMed;
                        font-size: 25px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 110%; /* 27.5px */
                        letter-spacing: -1.25px;
                        @media (max-width: 768px){
                            font-size: 18px;
                         }
                        &:nth-child(2){
                            font-family: InterReg;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            letter-spacing: -0.9px;
                            opacity: 0.5;
                            @media (max-width: 768px){
                                font-size: 14px;
                             }
                        }
                    }
                }
            }
            .reviewBlock_description{
                h5{
                    color: #303030;
                    font-family: InterSemBold;
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    letter-spacing: -1.4px;
                    margin: 30px 0 20px;
                    @media (max-width: 768px){
                        font-size: 18px;
                     }
                }
                p{
                    color: #303030;
                    font-family: InterReg;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: -0.8px;
                    margin: 0;
                    @media (max-width: 768px){
                        font-size: 14px;
                     }
                }
            }
        }
    }
}