@font-face {
    font-family: 'InterMed';
    src:url('Inter-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'InterReg';
    src:url('Inter-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'InterSemBold';
    src:url('Inter-SemiBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ManroMed';
    src:url('Manrope-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ManroReg';
    src:url('Manrope-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ManroSemBold';
    src:url('Manrope-Semibold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}