.flex_metodolog{
        display: flex;
        justify-content: space-between;
        margin: 20px 20px 20px;
        gap: 20px;
        @media (max-width: 1200px){
            flex-wrap: wrap;
        }
         @media (max-width: 765px){
            margin: 0 10px 10px;
        }
        .flex_metodolog_one{
            width: 50%;
            height: 560px;
            padding: 30px;
            border-radius: 32px;
            background: #60BFE1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // @media (max-width: 1321px){
            //     max-width: 520px;
            //     height: 506px;
            // }
            @media (max-width: 1200px){
                width: 100%;
                height: 370px;
                margin: 10px 0 ;
            }
            @media (max-width: 425px){
                padding: 20px;
                border-radius: 16px;
                // height: auto;
                display: none;
            }
            &.Mobile{
                display: none;
                @media (max-width: 425px){
                    display: flex;
                    min-height: 330px;
                }
            }
            h3{
                flex-grow: 2;
                color: #FFF;
                /* Headline/H3 */
                font-family: ManroSemBold;
                font-size: 44px;
                font-style: normal;
                font-weight: 600;
                line-height: 110%; /* 52.8px */
                letter-spacing: -0.96px;
                margin: 0;
                @media (max-width: 1344px){
                    font-size: 34px;
                    letter-spacing: 0;
                }
                @media (max-width: 765px){
                    font-size: 30px;
                    letter-spacing: 0;
                }
                @media (max-width: 453px){
                    font-size: 24px;
                    letter-spacing: 0;
                }
            }
            p{
                color: #FFF;
                font-family: InterReg;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%; /* 21.6px */
                max-width: 84%;
                @media (max-width: 453px){
                    font-size: 14px;
                    max-width: 88%;
                 }
                 @media (max-width: 375px){
                    font-size: 14px;
                    max-width: 100%;
                 }
            }
            .button{
                height: 56px;
                display: flex;
                @media (max-width: 1300px){
                    height: auto;
                 }
                a{
                    width: 95%;
                    padding: 16px 10px;
                    text-align: center;
                    border-radius: 100px;
                    background: #FFF;
                    text-decoration: none;
                    color: var(--color-blue, #000);
                    font-family: InterReg;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    cursor: pointer;
                    transition: 0.3s;
                    @media (max-width: 453px){
                        font-size: 14px;
                        padding: 10px 5px;

                     }
                    &:hover{
                        border: 1px solid #FFF;
                        background: #ffffff00;
                        color: #FFF;
                    }
                }
            }
        }
        .flex_metodolog_column{
            display: grid; 
            grid-template-columns: 1fr 1fr; 
            grid-template-rows: 1fr 1fr; 
            gap: 20px 20px; 
            grid-template-areas: 
                "block1 blok2"
                "blok3 blok4"; 
            width: 50%;
            @media (max-width: 1200px){
                width: 100%;
            }
            @media (max-width: 428px){
                grid-template-columns: 1fr; 
                grid-template-rows: 1fr 1fr 1fr 1fr; 
                gap: 10px 10px;
                grid-template-areas: 
                "block1" "blok2"
                "blok3" "blok4"; 
            }
            // @media (max-width: 1300px){
            //     max-width: 100%;
            // }
            .one_ { grid-area: block1; }
            .two_ { grid-area: blok2; }
            .three_ { grid-area: blok3; }
            .four_ { grid-area: blok4; }
            .block{
                // width: 245px;
                // height: 240px;
                padding: 16px 16px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                border-radius: 32px;
                background: #FFF;
                // @media (max-width: 1601px){
                //     width: 200px;
                //     height: 195px;
                // }
                // @media (max-width: 1440px){
                //     width: 200px;
                //     height: 240px;
                // }
                // @media (max-width: 1300px){
                //     width: 146px;
                //     height: 212px;
                // }
                @media (max-width: 1200px){
                    height: 260px;
                }
                @media (max-width: 437px){
                    height: 113px;
                    border-radius: 16px;
                }
                p{
                    color: #60BFE1;
                    font-family: InterReg;
                    font-size: 64px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin: 0;
                    @media (max-width: 473px){
                        font-size: 36px;
                        
                     }
                    &:nth-child(2){
                    font-family: ManroReg;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    @media (max-width: 473px){
                        font-size: 16px;
                        
                     }
                    }
                }
            }
        }
    }